<div class='row'>
  <div class="col s12 m4 offset-m4">
      <div class="card hoverable">
          <div class="card-content center">
              <span class="card-title">Page de connexion</span>
              <p><em>{{message}}</em></p>
          </div>
          <form #loginForm="ngForm" (ngSubmit)="login()">
              <div class="center">
                  <label for="name">Name</label>
                  <input style="text-align: center;" type="text" id="name" [(ngModel)]="name" name="name" required>
              </div>
              <div class="center">
                  <label for="password">Password</label>
                  <input style="text-align: center;" type="password" id="password" [(ngModel)]="password" name="password" required>
              </div>
              <button type="submit" style="display: none;"></button>
          </form>
          <div class="card-action center">
              <a (click)="login()" class="waves-effect waves-light btn" *ngIf="!auth.isLoggedIn">Se connecter</a>
              <a (click)="logout()" *ngIf="auth.isLoggedIn">Se déconnecter</a>
          </div>
      </div>
  </div>
</div>
